body {
  font: 5vw "Century Gothic", Futura, sans-serif;
  color: #9a0000;
  margin: 20px;
  background-color: #212121;
  display: grid;
  grid-template-areas: 'game';
  user-select: none;
}

#board {
  grid-area: board;
}

#game {
  grid-area: game;
  width: 95vw;
  height: 95vh;
}




@keyframes playerName {
  50% {
    color: #5aff00;
  }
  100% {
    color: #327900;
  }
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.statusContainer {
  font-family: Arial;
  margin-bottom: 10px;
  display: grid;
  grid-template-areas: 'status button';
  grid-template-columns: 50vw 6vw;
}

.status {
  grid-area: status;
}

#currentPlayer {
  color: #327900;
  animation-name: playerName;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#dischargeButton {
  font-size: 30px;
  border-radius: 50%;
  outline: none;
  border: 2px solid black;
  box-shadow: 0 0 5px 2px;
  grid-area: button;
}

.square {
  background: #fff;
  border: 2px solid #000000;
  box-shadow: 0 0 10px 2px black;
  float: left;
  font-size: 200%;
  font-weight: bold;
  line-height: 34px;
  height: 25vh;
  margin: 5px;
  padding: 0;
  font-family: "Comic Sans MS";
  text-align: center;
  width: 20vw;
  border-radius: 10px;
  transition: 200ms;
  outline: none;
}

.squareActive {
  background-color: #999999;
  transition: 200ms;
}

.squareActive:hover {
  outline: none;
  background-color: #d52a29;
  transition: 300ms;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

@media (max-width: 600px) {
  
}